<body class="text-gray-800">
    <header class="bg-white shadow-md p-4 flex items-center justify-between">
        <div class="flex items-center space-x-2 text-2xl font-bold">
            <span>Payment Checkout</span>
            <img [src]="atmCard" height="25" width="25" />
        </div>
        <button (click)="logout()" class="text-sm bg-red-600 text-white px-4 py-2 rounded hover:bg-red-700">
            Logout
        </button>
    </header>

    <div class="w-full overflow-hidden bg-gray-50 py-2">
        <p class="text-lg text-gray-700 animate-left-to-right font-medium px-4">
            Browse our latest shirt styles and complete your purchase with ease.
        </p>
    </div>

    <section class="p-6 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 max-w-6xl mx-auto">

        <div *ngFor="let item of sellableItems; let id = index"
            class="bg-white rounded-xl shadow p-4 flex flex-col items-center">
            <img [src]="item.image" alt="Shirt" class="w-40 h-40 object-cover mb-4 rounded-md" />
            <h3 class="text-lg font-semibold mb-1">{{item.name}}</h3>
            <p class="text-sm text-gray-600 mb-2">${{item.price | number:'1.2-2'}}</p>
            <!-- <button class="mt-auto bg-[#101323] text-white px-4 py-2 rounded hover:bg-gray-200 hover:text-gray-900">Add
                to Cart
            </button> -->
            <div class="flex items-center space-x-3 mt-auto">
                <label class="inline-flex items-center space-x-2 cursor-pointer">
                    <input type="checkbox" [(ngModel)]="item.checked" (ngModelChange)="updateSelectedItems($event, id)"
                        class="form-checkbox h-5 w-5 cursor-pointer text-[#101323] bg-[#ffff] border-[#101323]rounded focus:ring-[#101323]" />
                </label>

                <span class="font-semibold"> Add to Cart</span>

            </div>

        </div>

    </section>

    <section *ngIf="selectedItems.length > 0;"
        class="ml-[240px] max-w-2xl mx-auto mt-10 p-6 bg-white shadow rounded-xl">
        <h3 class="text-lg font-semibold mb-2">Summary Checkout</h3>
        <ul class="max-w-md space-y-1 text-gray-500 list-inside dark:text-gray-400">
            <li *ngFor="let item of selectedItems" class="flex items-center justify-between">
                <div class="flex items-center">
                    <svg class="w-3.5 h-3.5 me-2 text-green-500 dark:text-green-400 shrink-0" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                        <path
                            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
                    </svg>
                    <span class="font-semibold">{{item.name}}</span>
                </div>
                <span class="text-sm font-medium text-gray-700">${{item.price | number:'1.2-2'}}</span>
            </li>
            <br>
            <li class="flex items-center justify-between">
                <div class="flex items-center">
                    <span class="font-semibold">Totals</span>
                </div>
                <span class="text-sm font-medium text-gray-700">${{totals | number:'1.2-2'}}</span>
            </li>

        </ul>

        <br>
        <button (click)="viewSelextedItems()"
            class="mt-3 bg-indigo-600 text-white px-4 py-2 rounded hover:bg-indigo-700 transition">
            Checkout selected Items
        </button>

    </section>



    <!-- <section class="ml-[240px] max-w-2xl mx-auto mt-10 p-6 bg-white shadow rounded-xl">
        <h3 class="text-lg font-semibold mb-2">Receipt</h3>
        <div class="text-sm text-gray-600 mb-4">
            Transaction ID: <span class="font-mono">#TXN123456</span><br />
            Date: <span class="font-mono">May 25, 2025</span><br />
            Total Paid: <span class="font-bold text-black">₦11,000</span>
        </div>
        <div class="flex justify-end gap-4">
            <button class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600">View Invoice</button>
            <a href="/receipt.pdf" download class="px-4 py-2 bg-gray-700 text-white rounded hover:bg-gray-800">Download
                PDF</a>
        </div>
    </section> -->

     <footer class="fixed bottom-0 left-0 right-0 bg-transparent py-4 shadow-lg">
        <span class="ml-4 font-bold text-[#00000]">
             GoFinance Inc &copy; 2025
        </span>
    </footer>

</body>